body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollbar-width: none; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  /* width: 0.5em; */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

body > iframe {
  display: none;
}

@font-face {
  font-family: "ComicSans";
  src: local("ComicSans"), url(./fonts/ComicSans.ttf) format("truetype");
}

@font-face {
  font-family: "papyrus";
  src: local("papyrus"), url(./fonts/papyrus.ttf) format("truetype");
}
